body {
  background: #1a1a1a;
  color: #bdbdbd;
}

a, a:hover {
  color: #77a6c7;
}

header span.ribbon-inner {
  background-color: #d5a245;
  border: 4px solid #a57e38;
}

header span.left-tail, header span.right-tail {
  position: relative;
  display: block;
  width: 56px;
  height: 105px;
  background: transparent url(imgs/ribbon-tail-sprite.png) 0 0 no-repeat;
  position: absolute;
  bottom: -37px;
  z-index: 0;
}

header span.right-tail {
    background-position: -56px 0;
    right: -31px;
}

header h1 {
  background-color: #a57e38;
}

header h2 {
  color: #bdbdbd;
  background-color: #a57e38;
  font: bold italic 1.85em/1.5 Georgia, Times, “Times New Roman”, serif;
}

.header-level-1 {
  color: #a57e38;
}

div#no-downloads {
  background: none;
}

img {
  max-width: 100px;
}

footer {
  background: none;
}

footer a {
    color: #77a6c7;
}

footer span.right-tail, footer span.left-tail  {
  position: relative;
  display: block;
  width: 18px;
  height: 29px;
  background: transparent url(imgs/small-ribbon-tail-sprite.png) 0 0 no-repeat;
  position: absolute;
  bottom: 5px;
  z-index: 0;
}

footer span.right-tail {
  background-position: -18px 0;
  right: -11px;
}

footer span.ribbon-inner {
    background-color: #d5a245;
    border: 2px solid #a57e38;
}

footer span.ribbon-outer {
  border-bottom: none;
}

footer span.ribbon-inner p {
    background-color: #a57e38;
    color: #bdbdbd;
}

.license {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.license a {
  font-weight: bold;
}

#forkme_banner {
  display: none !important;
}
