body {
  background: black;
  color: #bdbdbd;
  text-align: center;
}

a, a:hover {
  color: #77a6c7;
}


footer {
    z-index: 1000;
}

header {
  z-index: 200;
}

div.shell {
  background: none;
}

header span.ribbon-inner {
  background-color: #d5a245;
  border: 4px solid #a57e38;
}

span.ribbon-inner {
  z-index: 10;
}

header span.left-tail, header span.right-tail {
  position: relative;
  display: block;
  width: 56px;
  height: 105px;
  background: transparent url(../imgs/ribbon-tail-sprite.png) 0 0 no-repeat;
  position: absolute;
  bottom: -37px;
  z-index: 0;
}

header span.right-tail {
    background-position: -56px 0;
    right: -31px;
}

header h1 {
  background-color: #a57e38;
}

header h2 {
  color: #bdbdbd;
  background-color: #a57e38;
  font: bold italic 1.85em/1.5 Georgia, Times, “Times New Roman”, serif;
}

.header-level-1 {
  color: #a57e38;
}

div#no-downloads {
  background: none;
}

img {
  max-width: 100px;
}

footer {
  background: none;
}

footer a {
    color: #77a6c7;
}

footer span.right-tail, footer span.left-tail  {
  position: relative;
  display: block;
  width: 18px;
  height: 29px;
  background: transparent url(../imgs/small-ribbon-tail-sprite.png) 0 0 no-repeat;
  position: absolute;
  bottom: 5px;
  z-index: 0;
}

footer span.right-tail {
  background-position: -18px 0;
  right: -11px;
}

footer span.ribbon-inner {
    background-color: #d5a245;
    border: 2px solid #a57e38;
}

footer span.ribbon-outer {
  border-bottom: none;
}

footer span.ribbon-inner p {
    background-color: #a57e38;
    color: #bdbdbd;
}

.license {
}

.license a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

#forkme_banner {
  display: none !important;
}

div.background video {
  opacity: 0.35;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

div.main-video-div {
  width: 100%;
}

video{
  width: 100%;
}


section#main_content {
  padding: 20px 82px 80px;
}


/*torrent banner*/

#progressBar {
    height: 5px;
    width: 0%;
    background-color: #35b44f;
    transition: width .4s ease-in-out;
}

.is-seed .show-seed {
    display: inline;
}

.is-seed .show-leech {
    display: none;
}

.show-seed {
    display: none;
}

.is-seed #hero {
    background-color: #154820;
    transition: .5s .5s background-color ease-in-out;
}

#hero {
    background-color: #2a3749;

}

#status {
    color: #fff;
    font-size: 12px;
    padding: 5px;
    text-align: left;
}

#status code {
    font-size: 90%;
    font-weight: 700;
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: 1px dashed rgba(255,255,255,0.3);
    background: none;
}
